<!DOCTYPE html>
<html lang="en">
<head>
  <title>Websocket Chat</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!-- CSS -->
  <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css">
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>
<body>
<div class="container" id="app">
  <div class="row">
    <div class="col-md-12">
      <h3>채팅방 리스트</h3>
    </div>
  </div>
  <div class="input-group">
    <div class="input-group-prepend">
      <label class="input-group-text">방제목</label>
    </div>
    <input type="text" class="form-control" id="room_name">
    <div class="input-group-append">
      <button class="btn btn-primary" type="button" id="createRoom">채팅방 개설</button>
    </div>
  </div>
  <ul class="list-group" id="chatrooms">
  </ul>
</div>
<!-- JavaScript -->
<script src="/webjars/axios/0.17.1/dist/axios.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var roomNameInput = document.getElementById("room_name");
    var createRoomButton = document.getElementById("createRoom");
    var chatroomsList = document.getElementById("chatrooms");

    createRoomButton.addEventListener("click", createRoom);

    function findAllRoom() {
      axios.get('/chat/rooms').then(function(response) {
        var chatrooms = response.data;
        chatroomsList.innerHTML = ""; // Clear the existing list
        chatrooms.forEach(function(item) {
          var li = document.createElement("li");
          li.className = "list-group-item list-group-item-action";
          li.textContent = item.roomName;
          li.addEventListener("click", function() {
            enterRoom(item.roomId);
          });
          chatroomsList.appendChild(li);
        });
      });
    }

    function createRoom() {
      var roomName = roomNameInput.value;
      if (roomName === "") {
        alert("방 제목은 필수값입니다.");
        return;
      } else {
        var params = new URLSearchParams();
        params.append("name", roomName);
        axios.post('/chat/room', params)
                .then(function(response) {
                  roomNameInput.value = "";
                  findAllRoom();
                })
                .catch(function(response) {
                  alert("방 생성 실패");
                });
      }
    }

    function enterRoom(roomId) {
      var sender = prompt('사용자 이름을 입력해주세요');
      if (sender !== "") {
        localStorage.setItem('wschat.sender', sender);
        localStorage.setItem('wschat.roomId', roomId);
        location.href = "/chat/room/enter/" + roomId;
      }
    }

    findAllRoom(); // Load chat rooms on page load
  });
</script>
</body>
</html>
