<!DOCTYPE html>
<html lang="en">
<head>
    <title>Websocket ChatRoom</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div class="container" id="app">
    <div>
        <h2 id="roomName"></h2>
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text">내용</label>
        </div>
        <input type="text" class="form-control" id="messageInput">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button" id="sendMessageButton">보내기</button>
            <button class="btn btn-danger" type="button" id="leaveRoomButton">나가기</button>
        </div>
    </div>
    <ul class="list-group" id="messagesList">
    </ul>
    <div></div>
</div>
<!-- JavaScript -->
<script src="/webjars/axios/0.17.1/dist/axios.min.js"></script>
<script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/2.3.3-1/stomp.min.js"></script>
<script>
    var roomId = '';
    var sender = '';

    document.addEventListener("DOMContentLoaded", function() {
        var roomNameElement = document.getElementById("roomName");
        var messageInputElement = document.getElementById("messageInput");
        var sendMessageButton = document.getElementById("sendMessageButton");
        var leaveRoomButton = document.getElementById("leaveRoomButton");
        var messagesList = document.getElementById("messagesList");

        roomId = localStorage.getItem('wschat.roomId');
        sender = localStorage.getItem('wschat.sender');
        findRoom();

        sendMessageButton.addEventListener("click", sendMessage);
        leaveRoomButton.addEventListener("click", liveRoom);

        function findRoom() {
            axios.get('/chat/room/' + roomId).then(function(response) {
                roomNameElement.textContent = response.data.name;
            });
        }

        function sendMessage() {
            var message = messageInputElement.value;
            ws.send("/app/chat/message", {}, JSON.stringify({ type: 'CHAT', roomId: roomId, sender: sender, message: message }));
            messageInputElement.value = '';
        }

        function liveRoom() {
            ws.send("/app/chat/room/leave", {}, JSON.stringify({ type: 'LEAVE', roomId: roomId, sender: sender, message: '' }));
            messageInputElement.value = '';
        }

        function recvMessage(recv) {
            var message = document.createElement("li");
            message.className = "list-group-item";
            message.textContent = recv.sender + " - " + recv.message;
            messagesList.insertBefore(message, messagesList.firstChild);
        }

        function connect() {
            // pub/sub event
            ws.connect({}, function(frame) {
                ws.subscribe("/topic/chat/room/" + roomId, function(message) {
                    var recv = JSON.parse(message.body);
                    recvMessage(recv);
                });
                ws.send("/app/chat/room/enter", {}, JSON.stringify({ type: 'JOIN', roomId: roomId, sender: sender }));
            }, function(error) {
                alert("채팅방 접속 오류")
                console.log(error)
            });
        }

        var sock = new SockJS("/ws");
        var ws = Stomp.over(sock);

        connect();
    });
</script>
</body>
</html>
